body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  /* overflow: hidden; */
}

header {
  background-color: #007bff;
  padding: 1rem;
  color: white;
  text-align: center;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
